.AddShoutoutForm {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 1px solid black;
  border-radius: 10px;
}

.AddShoutoutForm .input-label {
  display: flex;
}

.AddShoutoutForm .input-label label {
  width: 50px;
}

.AddShoutoutForm .input-label input {
  flex: 1;
  margin-bottom: 5px;
}

.AddShoutoutForm button {
  padding: 7px;
  background-color: black;
  color: white;
  border: none;
  margin-top: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.AddShoutoutForm button:hover {
  background-color: blue;
}
